html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background: whitesmoke;
}

#box{
    display: flex;
    height: 100%;
    
}

#box .container{
    padding: 10px;
    width: 250px;
    display: block;
    text-align: center;
    height: 100%;
    background: url(../img/login.png);
    background-size: 450px 1000px;
    
    
}

#box .container img{

    height: 200px !important;
    width: 200px;
    border: solid 3px white;
    border-radius: 100%;
}

#box .container button {
    background: white;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 40px;
    margin-right: auto;
    margin-top: 10px;
    font-size: 15px;
    color:rgb(116, 0, 0);
    text-transform: uppercase;
     
}

button:focus,input:focus,textarea{
    outline: 0;
}

#box .container button:hover, .cardapio button:hover{
    background: rgb(226, 226, 226);
    cursor: pointer;
}

#box .container a{
    color:rgb(116, 0, 0);
    text-decoration: none;
}



.editar-perfil {
    display: block;
    background: rgb(117, 0, 0);
    margin-top: 10px !important;
    margin: auto;
    border-radius: 30px;
    width: 240px;
    padding: 2px;
    
}

.editar-perfil input[type="text"]::-webkit-input-placeholder , textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.753);
    font-size: 12px;
}

.editar-perfil input[type="text"]{
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 25px;
    width: 180px;
    background: unset;
    border-bottom: solid 2px white;
    border-right: solid 1px white;
    border-left: solid 1px white;
    border-top: unset;
    padding: 7px;
    border-radius: 40px;
    color: white;
}

.editar-perfil h5{
    color: white; 
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 15px;
}

.editar-perfil label{
    color: white;
    font-size: 13px;
}

.editar-perfil input[type="time"]{
    color: white;
    background: transparent;
    border-bottom: solid 2px white;
    border-right: solid 1px white;
    border-left: solid 1px white;
    border-top: unset;
    border-radius: 40px;
    padding: 4px;
}


.editar-perfil textarea{
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 13px;
    background: transparent;
    border-bottom: solid 2px white;
    border-right: solid 1px white;
    border-left: solid 1px white;
    border-top: none;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    height: 120px;
    width: 180px;
    padding: 15px;
    resize: none;
}



textarea::-webkit-scrollbar-track {
    background-color: rgb(151, 0, 0);
}
textarea::-webkit-scrollbar {
    width: 4px;
    background: rgb(151, 0, 0);
}
textarea::-webkit-scrollbar-thumb {
    background: #f40000;
}

.container2{
    width: 100%;  
}
.cardapio{
    display: inline-flex;
    text-align: center;
    width: 100%;
    padding: 20px;
    background: rgb(116, 0, 0);
}

.cardapio input[type="text"]{
    background: transparent;
    border-bottom: solid 2px white;
    border-right: solid 1px white;
    border-left: solid 1px white;
    border-top: none;
    height: 20px;
    padding: 10px;
    border-radius: 40px;
    color: white;
}

.cardapio textarea{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 13px;
    background: transparent;
    border-bottom: solid 2px white;
    border-right: solid 1px white;
    border-left: solid 1px white;
    border-top: none;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    height: 20px !important;
    width: 300px !important;
    padding: 10px !important;
    resize: none;
}
.container2 button{
    background: white;
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 40px;
    font-size: 15px;
    color:rgb(116, 0, 0);

}

.cardapio::-webkit-file-upload-button {
    visibility: hidden;
  }